{% extends "Header_and_Footer.html" %} 
{%block content%}
{% load static %}

<body class="d-flex flex-column" style="background-color: #123524;">
       <div class="container d-flex flex-column min-vh-100" style="background-color: #fffbf1;">
        <h2 class="pb-2 border-bottom border-dark text-center mt-3">Characters</h2>
        <a href="{%url "create:qscc"%}" class="text-dark">
          <div class="d-flex flex-column text-center">
            <h4 class="ps-2 pb-1 mt-1 ms-5 me-5 mb-1 text-dark link-offset-2 link-offset-3-hover link-underline-opacity-0 link-secondary">Create a New Character</h4>
          </div>
      </a>
        <div class="container text-center justify-content-center align-items-center">
          {% for character in object_list %}
          <!-- href should link to character sheet. need to somehow access primary keys from object list to build the right URL -->
          
          <div class="row text-center mb-2 mt-3">
            <div class="col">
              <a href="{% url 'create:character_sheet' character.pk %}" class="card card-cover h-100 w-100 me-5 pt-2 overflow-hidden rounded-1 shadow" style="background-color: #262626fa;">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-person-circle mx-auto" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <p class="nav-link text-light">{{ character.name }}</p>
              </a>
            </div>
          </div>
          
          {% endfor %}
        </div>
       </div>

{% endblock content%}
