{% extends "Header_and_Footer.html" %} 
{%block content%}

<body class="d-flex flex-column min-vh-100" style="background-color: #226150;">
<div class="container" style="background-color: #F9E49A;">
    <h4 class="text-center mb-2 text-decoration-underline">Quick Start Character Creator</h4>
    <p class="text-center mb-2 border-bottom border-dark">Major skills start at 25, minor at 15, the rest at 5<br />
    Str.= Movement<br />
    Agi.= Evasion chance<br />
    Gum.= Health<br />
    Int.= Awareness<br />
    Mys.= Spell slots<br />
    Per.= Prices & spell slots</p>
    <div class="text-center fw-bold">
        <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="mt-2 mb-2 justify-content-center btn text-white" style="background-color: #226150;" type="submit" value="Create">
        </form>
        </div>
    </div>
</body>

{% load static %}
<link rel="stylesheet" href="{% static 'create/character_form.css' %}">
<link rel="stylesheet" href="character_form.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



<script>


    const globalPointBuys = new Map([
        
        ["30", 30],
        ["20", 20],
        ["16", 16],
        ["15", 15],
        ["10", 10],
        ["5",5]
    ]);

    function DeepCopyMap(existingMap) {
        const deepCopy = new Map(
            JSON.parse(
            JSON.stringify(Array.from(existingMap))
        ))
        return deepCopy
    }

    function PopulatePointbuys(elementID) {
        const selectElement = document.getElementById(elementID);
        jqID = "#" + elementID
        if ($(jqID + " option:selected").val() == "" ) {
            $(jqID).find('option:not(:first)').remove();
        }
        else {
            $(jqID).find('option:not(:selected)').remove();
        }
        pointbuys = DeepCopyMap(globalPointBuys)
        selectedBuys = CheckSelected()
        selectedBuys.forEach (function(buy) {
            if (buy != 0) {
                pointbuys.delete(buy)
            }
        })
        pointbuys.forEach (function(key, value) {
            let newOption = new Option(key, value);
            selectElement.appendChild(newOption);
         })
    };

    const attributesList = ["id_strength","id_agility","id_gumption","id_intelligence","id_mysticism","id_personality"]

    PopulatePointbuys("id_agility")
    PopulatePointbuys("id_gumption")
    PopulatePointbuys("id_strength")
    PopulatePointbuys("id_intelligence")
    PopulatePointbuys("id_mysticism")
    PopulatePointbuys("id_personality")

    function CheckSelected() {
        const selectedBuys = []
        attributesList.forEach (function(attribute) {
            attribute = "#" + attribute
            if ($(attribute).val() != "") {
                selectedBuys.push($(attribute).val())
            }
            else {
                selectedBuys.push(0)
            }
        })
        return selectedBuys
    }

    attributesList.forEach (function(attribute) {
        //add event listener to each attribute dropdown. should re-populate pointbuys on "change" for all attributes other than the one changing
        jqID = "#" + attribute
        $(jqID).change(function(){
            //update all other dropdowns with new list
            const filteredAttr = attributesList.filter(val=> val !== attribute)
            filteredAttr.forEach (function(attr) {
                PopulatePointbuys(attr)
            })
        })
    })


</script>


{% endblock content%}
