{% extends "Header_and_Footer.html" %} 
{%block content%}
{% load static %}

<style>
        
        .skill-btn {
          background-color: rgba(0, 0, 0, 0.5);
          border: none;
          color: white;
          padding: 2px;
          cursor: pointer;
      }
      </style>
<div class="page" style="background-color: #226150;">
  <div class="container my-1">
    <div class="container px-4 py-5" id="hanging-icons" style="background-color: #F9E49A;">
      <h2 class="pb-2 border-bottom border-dark">{{character.name}}</h2>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <h1 id="name" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Name</p>
          </div>
        </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <p class="fs-5">{{character.species}}</p>
            <h1 id="species" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Species</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <p class="fs-5">{{character.class_name}}</p>
            <h1 id="class" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Class</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
        <div>
            <p class="fs-5">{{character.background}}</p>
            <h1 id="background" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Background</p>
        </div>
      </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <p class="fs-5">{{character.morals}}</p>
            <h1 id="morals" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Morals</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <p class="fs-5">{{character.language}}</p>
            <h1 id="languages" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Languages</p>
          </div>
        </div>
      </div>
      <div class="row g-4 py-1 row-cols-1 row-cols-lg-6">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <h1 id="strength" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Str</p>
            <li id="strmod">{{character.strength}}</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 id="agility" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Agi</p>
            <li id="agimod">{{character.agility}}</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <h1 id="gumption" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Gum</p>
            <li id="gummod">{{character.gumption}}</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <h1 id="intelligence" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Int</p>
            <li id="intmod">{{character.intelligence}}</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 id="mysticism" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Mys</p>
            <li id="mysmod">{{character.mysticism}}</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
            
          </div>
          <div>
            <h1 id="personality" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Per</p>
            <li id="permod">{{character.personality}}</li>
          </div>
        </div>
       </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <button class="skill-btn" onclick="decrease('hp')">-</button>
                <span id="hp-amount">{{character.hp}}</span>
                <button class="skill-btn" onclick="increase('hp')">+</button>
            <h1 id="actionpoints" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p id="hp" class="fs-5">HP</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <span id="hp-amount">{{character.mb}}</span>
            <h1 id="movementbank" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">MB</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <span id="hp-amount">{{character.ec}}</span>
            <h1 id="evasionchance" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">EC</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <button class="skill-btn" onclick="decrease('ap')">-</button>
                <span id="ap-amount">{{character.ap}}</span>
                <button class="skill-btn" onclick="increase('ap')">+</button>
            <h1 id="actionpoints" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p id="ap" class="fs-5">AP</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <span id="ap-amount">{{character.initiative}}</span>
            <h1 id="initiative" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
            <p class="fs-5">Initiative</p>
          </div>
        </div>
      </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 class="fs-5 text-body-emphasis">Major Skills</h1>
            <li id="major1">{{character.major_skill_1}}</li>
            <li id="major2">{{character.major_skill_2}}</li>
            <li id="major3">{{character.major_skill_3}}</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 class="fs-5 text-body-emphasis">Minor Skills</h1>
            <li id="minor1">{{character.minor_skill_1}}</li>
            <li id="minor2">{{character.minor_skill_2}}</li>
            <li id="minor3">{{character.minor_skill_3}}</li>
            <li id="minor4">{{character.minor_skill_4}}</li>
            <li id="minor5">{{character.minor_skill_5}}</li>
          </div>
        </div>
      </div>
      <div class="row g-4 py-1 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <p class="fs-5">{{character.weapon_proficiency}}</p>
            <h1 id="weaponproficiency" class="fs-5 text-body-emphasis border-bottom  border-dark"></h1>
            <p class="fs-5">Weapon Prof.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 class="fs-5 text-body-emphasis">Weapons</h1>
            <li id="weapon1">Wet Noodle</li>
            <li id="weapon2">Plastic Spork</li>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 class="fs-5 text-body-emphasis">Spells</h1>
            <li id="spell1">Shit Self</li>
            <li id="spell2">Fart Vision</li>
          </div>
        </div>
      </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 class="fs-5 text-body-emphasis">Inventory</h1>
            <li id="startingequipment">*starting equipment here*</li>
          </div>
        </div>
      <div class="row g-4 py-1 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
           
          </div>
          <div>
            <h1 class="fs-5 text-body-emphasis">Abilities and Perks</h1>
            <li id=""></li>
          </div>
        </div>
      </div>
        <h2 class="pb-2 border-bottom border-dark">Attributes and Skills</h2>
        <div class="row g-4 py-1 row-cols-1 row-cols-lg-6">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
              
            </div>
            <div>
              <h1 id="strength" class="fs-5 text-body-emphasis border-bottom"></h1>
              <p class="fs-5">Str</p>
              
              <p class="border-bottom border-dark mb-1">Crushing Melee</p>
              <button id="crushing" class="skill-btn" onclick="decreaseXP('crushing')">-</button>
                <button class="skill-btn" onclick="increaseXP('crushing')">+</button>
              <span id="crushing-skill">{{character.sk_crushing}} | XP: <span id="crushing-xp-tracker"></span></span>
              <div class="border-bottom border-dark mt-3 mb-1"></div>

              <p class="border-bottom border-dark mb-1">Shotguns</p>
              <button id="shotguns" class="skill-btn" onclick="decreaseXP('shotguns')">-</button>
                <button class="skill-btn" onclick="increaseXP('shotguns')">+</button>
              <span id="shotguns-skill">{{character.sk_shotguns}}| XP: <span id="shotguns-xp-tracker"></span></span>
              <div class="border-bottom border-dark mt-3 mb-1"></div>
              
              <p class="border-bottom border-dark mb-1">Hand-to-Hand</p>
              <button id="hand" class="skill-btn" onclick="decreaseXP('hand')">-</button>
                <button class="skill-btn" onclick="increaseXP('hand')">+</button>
              <span id="hand-skill">{{character.sk_hand}} | XP: <span id="hand-xp-tracker"></span></span>
              <div class="border-bottom border-dark mt-3 mb-1"></div>
              
              <p class="border-bottom border-dark mb-1">Athletics</p>
              <button id="athletics" class="skill-btn" onclick="decreaseXP('athletics')">-</button>
                <button class="skill-btn" onclick="increaseXP('athletics')">+</button>
              <span id="athletics-skill">{{character.sk_athletics}} | XP: <span id="athletics-xp-tracker"></span></span>
              <div class="border-bottom border-dark mt-3 mb-1"></div>
              
              <p class="border-bottom border-dark mb-1">Crafting</p>
              <button id="crafting" class="skill-btn" onclick="decreaseXP('crafting')">-</button>
                <button class="skill-btn" onclick="increaseXP('crafting')">+</button>
              <span id="crafting-skill">{{character.sk_crafting}}| XP: <span id="crafting-xp-tracker"></span></span>
              <div class="border-bottom border-dark mt-3 mb-1"></div>
            </div>
                    
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
                     
                    </div>
                    <div>
                      <h1 id="agility" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
                      <p class="fs-5">Agi</p>
                      <p class="border-bottom border-dark mb-1">Slashing Melee</p>
                      <button id="slashing" class="skill-btn" onclick="decreaseXP('slashing')">-</button>
                        <button class="skill-btn" onclick="increaseXP('slashing')">+</button>
                      <span id="slashing-skill">{{character.sk_slashingmelee}} | XP: <span id="slashing-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
        
                      <p class="border-bottom border-dark mb-1">Pistols</p>
                      <button id="pistols" class="skill-btn" onclick="decreaseXP('pistols')">-</button>
                        <button class="skill-btn" onclick="increaseXP('pistols')">+</button>
                      <span id="pistols-skill">{{character.sk_pistols}}| XP: <span id="pistols-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Archery</p>
                      <button id="archery" class="skill-btn" onclick="decreaseXP('archery')">-</button>
                        <button class="skill-btn" onclick="increaseXP('archery')">+</button>
                      <span id="archery-skill">{{character.sk_archery}} | XP: <span id="archery-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Ropework</p>
                      <button id="ropework" class="skill-btn" onclick="decreaseXP('ropework')">-</button>
                        <button class="skill-btn" onclick="increaseXP('ropework')">+</button>
                      <span id="ropework-skill">{{character.sk_ropework}} | XP: <span id="ropework-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Acrobatics</p>
                      <button id="acrobatics" class="skill-btn" onclick="decreaseXP('acrobatics')">-</button>
                        <button class="skill-btn" onclick="increaseXP('acrobatics')">+</button>
                      <span id="acrobatics-skill">{{character.sk_acrobatics}}| XP: <span id="acrobatics-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>

                      <p class="border-bottom border-dark mb-1">Sneak</p>
                      <button id="sneak" class="skill-btn" onclick="decreaseXP('sneak')">-</button>
                        <button class="skill-btn" onclick="increaseXP('sneak')">+</button>
                      <span id="sneak-skill">{{character.sk_sneak}}| XP: <span id="sneak-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>

                      <p class="border-bottom border-dark mb-1">Thievery</p>
                      <button id="thievery" class="skill-btn" onclick="decreaseXP('thievery')">-</button>
                        <button class="skill-btn" onclick="increaseXP('thievery')">+</button>
                      <span id="thievery-skill">{{character.sk_thievery}}| XP: <span id="thievery-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
                      
                    </div>
                    <div>
                      <h1 id="gumption" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
                      <p class="fs-5">Gum</p>
                      <p class="border-bottom border-dark mb-1">Intimidation</p>
                      <button id="intimidation" class="skill-btn" onclick="decreaseXP('intimidation')">-</button>
                        <button class="skill-btn" onclick="increaseXP('intimidation')">+</button>
                      <span id="intimidation-skill">{{character.sk_intimidation}} | XP: <span id="intimidation-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
        
                      <p class="border-bottom border-dark mb-1">Hunting</p>
                      <button id="hunting" class="skill-btn" onclick="decreaseXP('hunting')">-</button>
                        <button class="skill-btn" onclick="increaseXP('hunting')">+</button>
                      <span id="hunting-skill">{{character.sk_hunting}}| XP: <span id="hunting-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Cooking</p>
                      <button id="cooking" class="skill-btn" onclick="decreaseXP('cooking')">-</button>
                        <button class="skill-btn" onclick="increaseXP('cooking')">+</button>
                      <span id="cooking-skill">{{character.sk_cooking}} | XP: <span id="cooking-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Foraging</p>
                      <button id="foraging" class="skill-btn" onclick="decreaseXP('foraging')">-</button>
                        <button class="skill-btn" onclick="increaseXP('foraging')">+</button>
                      <span id="foraging-skill">{{character.sk_foraging}} | XP: <span id="foraging-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Animal Handling</p>
                      <button id="animal" class="skill-btn" onclick="decreaseXP('animal')">-</button>
                        <button class="skill-btn" onclick="increaseXP('animal')">+</button>
                      <span id="animal-skill">{{character.sk_animalhandling}}| XP: <span id="animal-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
                      
                    </div>
                    <div>
                      <h1 id="intelligence" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
                      <p class="fs-5">Int</p>
                      <p class="border-bottom border-dark mb-1">Rifles</p>
                      <button id="rifles" class="skill-btn" onclick="decreaseXP('rifles')">-</button>
                        <button class="skill-btn" onclick="increaseXP('rifles')">+</button>
                      <span id="rifles-skill">{{character.sk_rifles}} | XP: <span id="rifles-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
        
                      <p class="border-bottom border-dark mb-1">Intuition</p>
                      <button id="intuition" class="skill-btn" onclick="decreaseXP('intuition')">-</button>
                        <button class="skill-btn" onclick="increaseXP('intuition')">+</button>
                      <span id="intuition-skill">{{character.sk_intuition}}| XP: <span id="intuition-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Investigation</p>
                      <button id="investigation" class="skill-btn" onclick="decreaseXP('investigation')">-</button>
                        <button class="skill-btn" onclick="increaseXP('investigation')">+</button>
                      <span id="investigation-skill">{{character.sk_investigation}} | XP: <span id="investigation-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Brewing</p>
                      <button id="brewing" class="skill-btn" onclick="decreaseXP('brewing')">-</button>
                        <button class="skill-btn" onclick="increaseXP('brewing')">+</button>
                      <span id="brewing-skill">{{character.sk_brewing}} | XP: <span id="brewing-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Galvanism Magic</p>
                      <button id="galvanism" class="skill-btn" onclick="decreaseXP('galvanism')">-</button>
                        <button class="skill-btn" onclick="increaseXP('galvanism')">+</button>
                      <span id="galvanism-skill">{{character.sk_galvanismmagic}}| XP: <span id="galvanism-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
                     
                    </div>
                    <div>
                      <h1 id="mysticism" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
                      <p class="fs-5">Mys</p>
                      <p class="border-bottom border-dark mb-1">Religion</p>
                      <button id="religion" class="skill-btn" onclick="decreaseXP('religion')">-</button>
                        <button class="skill-btn" onclick="increaseXP('religion')">+</button>
                      <span id="religion-skill">{{character.sk_religion}} | XP: <span id="religion-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
        
                      <p class="border-bottom border-dark mb-1">History</p>
                      <button id="history" class="skill-btn" onclick="decreaseXP('history')">-</button>
                        <button class="skill-btn" onclick="increaseXP('history')">+</button>
                      <span id="history-skill">{{character.sk_history}}| XP: <span id="history-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Medicine</p>
                      <button id="medicine" class="skill-btn" onclick="decreaseXP('medicine')">-</button>
                        <button class="skill-btn" onclick="increaseXP('medicine')">+</button>
                      <span id="medicine-skill">{{character.sk_medicine}} | XP: <span id="medicine-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Healing Magic</p>
                      <button id="healing" class="skill-btn" onclick="decreaseXP('healing')">-</button>
                        <button class="skill-btn" onclick="increaseXP('healing')">+</button>
                      <span id="healing-skill">{{character.sk_healingmagic}} | XP: <span id="healing-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Utility Magic</p>
                      <button id="utility" class="skill-btn" onclick="decreaseXP('utility')">-</button>
                        <button class="skill-btn" onclick="increaseXP('utility')">+</button>
                      <span id="utility-skill">{{character.sk_utilitymagic}}| XP: <span id="utility-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>

                      <p class="border-bottom border-dark mb-1">Absolution Magic</p>
                      <button id="absolution" class="skill-btn" onclick="decreaseXP('absolution')">-</button>
                        <button class="skill-btn" onclick="increaseXP('absolution')">+</button>
                      <span id="absolution-skill">{{character.sk_absolutionmagic}}| XP: <span id="absolution-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-1">
                      
                    </div>
                    <div>
                      <h1 id="personality" class="fs-5 text-body-emphasis border-bottom border-dark"></h1>
                      <p class="fs-5">Per</p>
                      <p class="border-bottom border-dark mb-1">Foolery</p>
                      <button id="foolery" class="skill-btn" onclick="decreaseXP('foolery')">-</button>
                        <button class="skill-btn" onclick="increaseXP('foolery')">+</button>
                      <span id="foolery-skill">{{character.sk_foolery}} | XP: <span id="foolery-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
        
                      <p class="border-bottom border-dark mb-1">Persuasion</p>
                      <button id="persuasion" class="skill-btn" onclick="decreaseXP('persuasion')">-</button>
                        <button class="skill-btn" onclick="increaseXP('persuasion')">+</button>
                      <span id="persuasion-skill">{{character.sk_persuasion}}| XP: <span id="persuasion-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Barter</p>
                      <button id="barter" class="skill-btn" onclick="decreaseXP('barter')">-</button>
                        <button class="skill-btn" onclick="increaseXP('barter')">+</button>
                      <span id="barter-skill">{{character.sk_barter}} | XP: <span id="barter-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Deception Magic</p>
                      <button id="deception" class="skill-btn" onclick="decreaseXP('deception')">-</button>
                        <button class="skill-btn" onclick="increaseXP('deception')">+</button>
                      <span id="deception-skill">{{character.sk_deceptionmagic}} | XP: <span id="deception-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                      
                      <p class="border-bottom border-dark mb-1">Ritual Magic</p>
                      <button id="ritual" class="skill-btn" onclick="decreaseXP('ritual')">-</button>
                        <button class="skill-btn" onclick="increaseXP('ritual')">+</button>
                      <span id="ritual-skill">{{character.sk_ritualmagic}}| XP: <span id="ritual-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>

                      <p class="border-bottom border-dark mb-1">Destruction Magic</p>
                      <button id="destruction" class="skill-btn" onclick="decreaseXP('destruction')">-</button>
                        <button class="skill-btn" onclick="increaseXP('destruction')">+</button>
                      <span id="destruction-skill">{{character.sk_destructionmagic}}| XP: <span id="destruction-xp-tracker"></span></span>
                      <div class="border-bottom border-dark mt-3 mb-1"></div>
                    </div>
                  </div>
                 </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
      <button type="button" class="btn btn-success ms-5">Finish and create!</button>
      </div>
    </div>
  </div>
</div>
</div>


<div class="controls">
  <button class="control-btn" id="prevBtn">Previous</button>
  <button class="control-btn" id="nextBtn">Next</button>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script >




// increase/decrease buttons
function increase(id) {
const amountElement = document.getElementById(`${id}-amount`);
let currentAmount = parseInt(amountElement.textContent);
amountElement.textContent = currentAmount + 1;
}

function decrease(id) {
const amountElement = document.getElementById(`${id}-amount`);
let currentAmount = parseInt(amountElement.textContent);
if (currentAmount > 0) {
amountElement.textContent = currentAmount - 1;
}
}

// Initialize skill levels and XP for each skill

let skills

async function getData() {
    try {
        skills = await getDatabaseSkills();
        //console.log(response);  // Handle the response data here
    } catch (error) {
        console.error('Error:', error);
    }
}

// Usage
(async () => {
    await getData()
    console.log(skills);  // The response is now saved in the 'data' variable
})();


/*let skills = {
crushing: { level: 10, xp: 0 },
shotguns: { level: 10, xp: 0 },
hand: { level: 10, xp: 0 },
athletics: { level: 10, xp: 0 },
crafting: { level: 10, xp: 0 },
slashing: { level: 10, xp: 0 },
pistols: { level: 10, xp: 0 },
ropework: { level: 10, xp: 0 },
archery: { level: 10, xp: 0 },
acrobatics: { level: 10, xp: 0 },
sneak: { level: 10, xp: 0 },
thievery: { level: 10, xp: 0 },
intimidation: { level: 10, xp: 0 },
foraging: { level: 10, xp: 0 },
cooking: { level: 10, xp: 0 },
hunting: { level: 10, xp: 0 },
animal: { level: 10, xp: 0 },
rifles: { level: 10, xp: 0 },
intuition: { level: 10, xp: 0 },
investigation: { level: 10, xp: 0 },
gambit: { level: 10, xp: 0 },
brewing: { level: 10, xp: 0 },
galvanism: { level: 10, xp: 0 },
religion: { level: 10, xp: 0 },
history: { level: 10, xp: 0 },
medicine: { level: 10, xp: 0 },
healing: { level: 10, xp: 0 },
utility: { level: 10, xp: 0 },
absolution: { level: 10, xp: 0 },
foolery: { level: 10, xp: 0 },
persuasion: { level: 10, xp: 0 },
barter: { level: 10, xp: 0 },
performance: { level: 10, xp: 0 },
deception: { level: 10, xp: 0 },
ritual: { level: 10, xp: 0 },
destruction: { level: 10, xp: 0 },
};*/


function getRequiredXP(level) {
if (level < 16) {
  return 3;
} else if (level < 51) {
  return 4;
} else if (level <= 100) {
  return 5;
}
}

function updateUI(skill) {
const skillData = skills[skill];
const requiredXP = getRequiredXP(skillData.level);
document.getElementById(`${skill}-skill`).innerHTML = ` ${skillData.level} | xp: ${renderXPTracker(skillData.xp, requiredXP)}`;
}

function renderXPTracker(xp, requiredXP) {
let tracker = '';
for (let i = 0; i < requiredXP; i++) {
  tracker += i < xp ? '■' : '□';
}
return tracker;
}

function getDatabaseSkills() {
  const pagePath = window.location.pathname
  const pathSections = pagePath.split("/")
  const characterPrimaryKey = pathSections[pathSections.length - 1]
  result = ""
  return new Promise(function(resolve,reject) {
    $.ajax({
            url: '{% url "create:retrieve_skills" %}',
            type: 'GET',
            dataType: 'json',
            data: {
                'id': characterPrimaryKey,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                  resolve(response)
                } else {
                    reject(error)
                }
            }
            
        });
  })

}

function updateDatabaseSkills(skill, increment) {
  const pagePath = window.location.pathname
  const pathSections = pagePath.split("/")
  const characterPrimaryKey = pathSections[pathSections.length - 1]
  console.log(characterPrimaryKey)
  $.ajax({
            url: '{% url "create:update_skills" %}',
            type: 'POST',
            data: {
                'id': characterPrimaryKey,
                'skill': skill,
                'increment': increment,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    console.log('Data updated successfully!');
                } else {
                    console.log('Error: ' + response.message);
                }
            }

        });
  //parse int at end of path from above variable -> this is the character primary key
  //send AJAX request with pk, skill, and increment to update_skills view which should update the DB
}

function increaseXP(skill) {
const skillData = skills[skill];
const requiredXP = getRequiredXP(skillData.level);
skillData.xp += 1;
if (skillData.xp >= requiredXP) {
  skillData.xp = 0;
  skillData.level += 1;
  updateDatabaseSkills(skill,1)
  if (skillData.level > 100) {
      skillData.level = 100;
      skillData.xp = 0;
  }
}

updateUI(skill);
}

function decreaseXP(skill) {
const skillData = skills[skill];
skillData.xp -= 1;
if (skillData.xp < 0 && skillData.level > 1) {
  updateDatabaseSkills(skill,-1)
  skillData.level -= 1;
  skillData.xp = getRequiredXP(skillData.level) - 1;
}

updateUI(skill);
}

// Initialize UI for all skills
for (let skill in skills) {
updateUI(skill);
}



</script>

  

</body>

{%endblock content%}
