{% extends "Header_and_Footer.html" %} 
{%block content%}
{% load static %}




  <body>
    <div class="container" style="background-color: #F9E49A;">
    <div class="col-md-10 mx-auto my-5 col-lg-5">
      <h2 class="pb-2 border-bottom border-dark text-center">Create an Account</h2>
      {% if form.errors %}
      <ul class="errorlist">
          {% for field in form %}
              {% for error in field.errors %}
                  <li class="list-group-item list-group-item-danger">{{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
      {% endif %}
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST">
        {% csrf_token %}
        
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter username here">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password1" maxlength="128" required id="id_password">
          <label for="id_password">Create a password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" required id="id_password" name="password2" placeholder="Password">
          <label for="id_password">Confirm password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Create account</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Create account, you agree to the terms of use</small>
      </form>
    </div>


{% endblock content%}
