{% extends "Header_and_Footer.html" %} 
{%block content%}
{% load static %}

{% if form.errors %}
  <p>Username or password is incorrect</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>You don't have permission to see this page</p>
  {% else %}
    <p>Please login</p>
{% endif %}
{% endif %}
<body>
  <div class="container" style="background-color: #F9E49A;">
    <div class=" container mx-auto my-5 col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="{% url 'login'%}">
        {% csrf_token %}
        {{form.as_p}}
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-2" value="login" type="submit">Login</button>
        <hr class="my-4">
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
  </div>

{% endblock content %}
