{% extends "Header_and_Footer.html" %} 
{%block content%}
{% load static %}

<body style="background-color: #bf7e04;">
          <div class="container my-1">
            <div class="container px-4 py-5" id="hanging-icons">
              <h2 class="pb-2 border-bottom">Clothing and Armor</h2>
              <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Leather</h4>
                    <p>Gives the wearer extra EC</p>
                    <li>Top: +10</li>
                      <li>Bottom: +5</li>
                    <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Fur</h4>
                  <p>Gives the wearer extra MB</p>
                  <li>Top: +10ft</li>
                    <li>Bottom: +5ft</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Alligator</h4>
                  <p>Gives the wearer extra spell slots</p>
                  <li>Top: +1</li>
                    <li>Bottom: +1</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Gecko</h4>
                  <p>Gives the wearer extra health</p>
                  <li>Top: +10 </li>
                    <li>Bottom: +5</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Caravanner</h4>
                  <p>Gives the wearer extra carry weight</p>
                  <li>Top: +3%</li>
                    <li>Bottom: +2%</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Lobster Shell</h4>
                    <p>Non-shockstone weapons can't do critical damage to the wearer</p>
                    <li>Top</li>
                    <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Crab Shell</h4>
                  <p>Gives the wearer resistance to slashing damage</p>
                  <li>Top: Res. to slashing</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Thiquid</h4>
                  <p>Gives the wearer resistance to crushing damage</p>
                  <li>Top: Res. to crushing</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Petrified Bark</h4>
                  <p>Gives the wearer resistance to piercing damage</p>
                  <li>Top: Res. to piercing</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Acid Sapper</h4>
                  <p>When the wearer does acid damage, the armor heals them</p>
                  <li>Top: +1d4 hp anytime they deal acid damage</li>
                  <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Holy Sapper</h4>
                    <p>When the wearer does holy damage, the armor heals them</p>
                    <li>Top: +1d4 hp anytime they deal holy damage</li>
                    <p></p>
                  </div>
                </div>
              <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Valley Trekkers</h4>
                    <p>Gives the wearer extra MB when in the valleys and grasslands</p>
                    <li>Bottom: +10ft</li>
                    <p></p>
                  </div>
                </div>
              <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Swamp Trekkers</h4>
                    <p>Gives the wearer extra MB when in the swamps and everglades</p>
                    <li>Bottom: +10ft</li>
                    <p></p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">Desert Trekkers</h4>
                  <p>Gives the wearer extra MB when in the deserts and mesas</p>
                  <li>Bottom: +10ft</li>
                  <p></p>
                  </div>
                </div>
              <div class="col d-flex align-items-start">
                  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <div>
                    <h4 class="fw-normal">All Terrain Trekkers</h4>
                  <p>Difficult terrain is not difficult</p>
                  <li>Bottom</li>
                  <p></p>
                  </div>
                </div>
              </div>

{% endblock content%}
