{% extends "Header_and_Footer.html" %} 
{%block content%}

<Main class="">
<div class="mt-3">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-1">
      <h1 class="text-body-emphasis border-bottom border-dark">Getting Started</h1>

      <div class="row mt-3">
        <!-- Left Column -->
        <div class="col-md-6 border-end border-dark">
          <H5 class="text-center"><b>If You're New to All This</b></H5>
          <p class="lead fs-6">
            If you've never played a tabletop RPG, they're essentially a story being told by two parties: the game master, or storyteller, and the players, who play the main characters in that story. The GM sets the scene, guides the story beats, and controls the mechanics and foundation of the game. The players role play as their characters within the narrative; going along with the story, messing with NPC's, and fighting creatures<br><br>This story is often called a campaign and is broken down in blocks of playtime called "sessions". Let's go through a quick session below to give you an example of how the game is played:
          </p>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
          <H5 class="text-center"><b>For the Nerds</b></H5>
          <p class="lead fs-6">
            Similar to Pathfinder taking D&D's 3.5E and making their own version of the game, Outer West's system is based on the 5th edition of Dungeons and Dragons. Outer West takes D&D's 5E and tweaks the rules to make a game system ruleset with a focus on build variety.<br><br>Our goal with Outer West and its systems is to give players variety each turn. What we noticed is that with some other D20 based RPGs, you're really limited to a couple things you can do in your turn, which you end up rinse-and-repeating until the end. With OW, characters use a bank of action points and a movement bank that's seperate from their AP to utilize at their disposal, as well as a multitude of perks and items, with the goal of giving players more variety with their builds, in or out of combat. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</p> </div> </div>
    <div class="container mt-2">
  <div class="row">
    <!-- Jumbotron 1 -->
    <div class="col-md-4">
      <div class="p-5 text-center bg-body-tertiary rounded-3 h-100">
        <h1 class="text-body-emphasis">Setting the Scene</h1>
        <p class="fs-6 text-center">
          <b>GM:</b> You all start in a saloon, partners. The drinks are flowing and the cards are turning. Your posses' bounty target; "Big Boy Billy", is playing poker at the other end of the saloon. What do you all want to do?<br><br>
          <b>Player One:</b><br>"I want to go to the bar and get a drink but I want to try to get a discount"<br>
           <b>GM:</b> you walk up to the bar and put your silver tongue to good use. Roll a Barter check<br><br>
          <b>Player Two:</b><br>"I want to join the pianist in playing a song"<br>
          <b>GM:</b> the man welcomes the extra voice. Roll a Performance check<br><br>
          <b>Player Three:</b><br>"I want to stare down Billy and try to scare him"<br>
          <b>GM:</b> you crease your brow and stare Billy down. Roll an Intimidation check <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
</svg>
        </p>
      </div>
    </div>

    <!-- Jumbotron 2 -->
    <div class="col-md-4">
      <div class="p-5 text-center bg-body-tertiary rounded-3 h-100">
        <h1 class="text-body-emphasis">A Fight!</h1>
        <p class="fs-6 text-center">
          <b>GM:</b> The posse confronts Billy and his fledgling gang and a fight breaks out! Everyone else works their way out of the saloon in a chaotic stampede as the posse gets ready to fight. Everyone roll initiative.<br><br>
          Every fight starts with <i>initiative</i> — another word for turn order.<br><br>The GM will have to set up the battlemap and keep track of every creatures health and other aspects as they guide the fight<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
</svg>
        </p>
      </div>
    </div>

    <!-- Jumbotron 3 -->
    <div class="col-md-4">
      <div class="p-5 text-center bg-body-tertiary rounded-3 h-100">
        <h1 class="text-body-emphasis">Combat Basics</h1>
        <p class="fs-6 text-center">
          After initiative, the first person can make a move. Let's go over the basics:<br><br>
          <b>AP</b><br>
          Action Points are the bank of points used to perform actions. You regain 3 AP at the start of your turn.<br><br>
          <b>MB</b><br>
          Movement Bank is the amount of movement (in feet) you can make in a turn. Each square or hex equals 5ft. So an MB of 25ft lets you move 5 squares.<br><br>
          <b>Damage</b><br>
          You can take damage from hits or afflictions, like poison. Your Evasion Chance (EC) determines if an attack hits — the enemy must roll your EC or higher. For afflictions, you make a save like <i>Gum.S(10)</i>, which is a Gumption save in an attempt to resist the affliction<br><br>
          Every turn you'll be using your characters' weapons, abilities, and other tools at their disposal to take down any creatures and other ne'er-do-wells. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2"> <div class="p-5 text-center bg-body-tertiary rounded-3"> <h1 class="text-body-emphasis">Time to Jump In</h1> <p class="fs-6 lead">
All this makes up the very basics of how the game is played. It's a mix of both roleplaying and combat scenarios over the course of the sessions until the campaign, whether short or long, is over. So grab some friends, hop on your trusty nags, and we'll see you on the frontier, partners

</p> </div> </div>



</Main>


{%endblock content%}