{% extends "Header_and_Footer.html" %} 
{%block content%}

<Main class="">
    <div class="mt-3"> <div class="p-5 text-center bg-body-tertiary"> <div class="container py-1" style="background-color: #c78f5b;"> <h1 class="text-body-emphasis">Getting Started</h1> <p class="col-lg-8 mx-auto lead fs-6">
Outer West's system is based on the 5th edition of Dungeons and Dragons. Similar to Pathfinder taking D&D's 3.5E and making their own version, Outer West takes D&D's 5E and tweaks the rules to make a unique ruleset with a focus on build variety<br><br>Our goal with Outer West and it's systems is to give players variety each turn. What we noticed as developers is that with some "D20" based rpg's, you're really limited to a couple things you can do in your turn, typically only having an action and bonus action. With OW, instead of certain actions being grouped into an action or bonus action, characters use a bank of action points and a movement bank to utilize at their disposal.
</p> </div> </div> </div>
    <div class="container mt-2"> <div class="p-5 text-center bg-body-tertiary rounded-3"> <h1 class="text-body-emphasis">A Joint Story</h1> <p class="fs-6 lead">
Like similiar RPGs, playing Outer West is a joint story created by the game master or "GM" and the players. The GM narrates the story and the players play the protagonists in that story. This story is often called a campaign and is broken down in blocks of playtime called "sessions". Let's go through fake session below to give you an expample of how the game is played

</p> </div> </div>
    <div class="container mt-2"> <div class="p-5 text-center bg-body-tertiary rounded-3"> <h1 class="text-body-emphasis">Roleplaying</h1> <p class="fs-6 lead">

GM: You all start in a saloon. The drinks are flowing and the cards are turning. Your posses' bounty target; "Big Boy Bart", is playing poker at the other end of the saloon. What do you all want to do?<br><br>- "I want to go to the bar and get a drink but I want to try to get a discount": roll a Barter check<br><br>

- "I want to join the pianist in playing a song": roll a Performance check<br><br>

- "I want to stare down Bart and try to scare him": roll an Intimidation check

</p> </div> </div>
<div class="container mt-2">
  <div class="row">
    <!-- Left Jumbotron -->
    <div class="col-md-6">
      <div class="p-5 text-center bg-body-tertiary rounded-3 h-100">
        <h1 class="text-body-emphasis">A Fight!</h1>
        <p class="fs-6 lead">
          GM: Your posse confronts Bart and his fledgling gang and a fight breaks out! Everyone else works their way out of the saloon in a choatic stampede as the posse gets ready to fight. Everyone roll initiative<br><br>
          Every fight starts the initiative, which is another word for turn order
        </p>
      </div>
    </div>

    <!-- Right Jumbotron -->
    <div class="col-md-6">
      <div class="p-5 text-center bg-body-tertiary rounded-3 h-100">
        <h1 class="text-body-emphasis">Combat Basics</h1>
        <p class="fs-6 lead text-start">
          -Let's start with action points or AP. This is the bank of points that's used to perform actions. 3 AP refills at the beginning of your turn<br><br>
          -Next is movement bank or MB. This is the bank of movement broken down in feet that you can move in your turn. The battle map is divided into squares and each square is 5ft of movement. So if you have an MB of 25ft, you can move 5 squares<br><br>
          -Taking damage can happen to you in two ways: getting hit or getting affected by something like a poison or environmental stuff like an earthquake. Your evasion chance or EC determines the former; the creatures attacking you needs to roll your EC or higher to land a hit and vice versa. Your saves determine the latter. If something tries to poison you, you will need to make a saving throw to resist the affect of the poison, written like this: Gum.S(10), which means you'll need to roll a 10 or higher using the bonus from your Gumption attribute to not get poisoned<br><br>
          All this makes up the very basics of how the game is played! It's a mix of roleplaying and combat scenarios over the course of the sessions until the campaign, whether short or long, is over.
        </p>
      </div>
    </div>
  </div>
</div>



</Main>


{%endblock content%}